<phpunit colors="true" 
         verbose="true" 
         bootstrap="../unittest/bootstrap.php"
         stopOnError="true"
         stopOnFailure="true">
    <testsuite name="PayPal tests">
        <directory suffix='.php'>tests/</directory>  
        <directory suffix='.php'>tests/paypal/</directory>  
    </testsuite>
</phpunit>
