<phpunit colors="true" bootstrap="../../unittest/bootstrap.php">
    <testsuite name="PayPal general tests">
        <file>./paypal.php</file>
        <file>./paypal/request.php</file>
        <file>./paypal/response.php</file>
        <file>./paypal/valid.php</file>
    </testsuite>
    <testsuite name="AdaptivePayments tests">
        <file>./paypal/adaptivepayments/pay.php</file>
        <file>./paypal/adaptivepayments/preapproval.php</file>
    </testsuite>
    <testsuite name="ExpressCheckout tests">
        <directory>./paypal/expresscheckout/setexpresscheckout.php</directory>
    </testsuite>	
</phpunit>
